{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="/">Posts</a></li>
              <li role="presentation"><a href="{{ url_for('tags') }}">Tags</a></li>
              <li role="presentation"><a href="{{ url_for('categories') }}">Categories</a></li>
              {% if current_user.is_authenticated %}
                <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
                <li role="presentation"><a href="{{ url_for('login') }}">Login</a></li>
              {% endif %}
            </ul>
        </div>
    </div>

    {% block application_page_content %}{% endblock %}
{% endblock %}

