{% extends "application_page.html" %}

{% block title %}PageTags{% endblock %}

{% block application_page_content %}
    <div class="row">
        <div class="col-md-12">
            {% for posting in paginator.items %}
                <div class="row">
                    <div class="col-md-12">
                        <ul class="posting">
                            <li><a href="{{ posting.url.url }}">{{ posting.title }}</a></li>
                            <li><a href="{{ posting.url.url }}">{{ posting.url.url }}</a></li>
                            <li>
                                <ul class="tag_list">
                                {% for tag in posting.tags %}
                                    <li><a href="{{ url_for('tag', name=tag.name) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li>Added at {{ posting.added_at.strftime("%Y/%m/%d %H:%M:%S") }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span>Page {{ paginator.page }}</span>

            {% if paginator.has_prev %}
                <a href="{{ url_for('index') }}?page={{ paginator.prev_num }}">Previous</a>
            {% endif %}

            {% if paginator.has_next %}
                <a href="{{ url_for('index') }}?page={{ paginator.next_num }}">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
