{% extends "application_page.html" %}

{% block title %}PageTags - New URL{% endblock %}

{% block application_page_content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Add url</h1>

            <form action="{{ url_for('new_url') }}" method="POST">
                {{ form.csrf_token }}

                {{ form.title.label }} <br />
                {{ form.title }} <br />

                {% if form.title.errors %}
                    <ul>
                        {% for error in  form.title.errors%}
                            <l1>{{ error }}</l1>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.url.label }} <br />
                {{ form.url }} <br />

                {% if form.url.errors %}
                    <ul>
                        {% for error in  form.url.errors%}
                            <l1>{{ error }}</l1>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.tags.label }} <br />
                {{ form.tags }} <br />

                {% if form.tags.errors %}
                    <ul>
                        {% for error in  form.tags.errors%}
                            <l1>{{ error }}</l1>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ form.categories.label }} <br />
                {{ form.categories }} <br />

                {% if form.categories.errors %}
                    <ul>
                        {% for error in form.categories.errors%}
                            <l1>{{ error }}</l1>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button type="submit" class="btn btn-default">Add</button>
            </form>
        </div>
    </div>
{% endblock %}
