<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New URL</title>
</head>
<body>
    <h1>Add url</h1>

    <div>
        <form action="{{ url_for('new_url') }}" method="POST">
            {{ form.csrf_token }}

            {{ form.title.label }} <br />
            {{ form.title }} <br />

            {% if form.title.errors %}
                <ul>
                    {% for error in  form.title.errors%}
                        <l1>{{ error }}</l1>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form.url.label }} <br />
            {{ form.url }} <br />

            {% if form.url.errors %}
                <ul>
                    {% for error in  form.url.errors%}
                        <l1>{{ error }}</l1>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form.tags.label }} <br />
            {{ form.tags }} <br />

            {% if form.tags.errors %}
                <ul>
                    {% for error in  form.tags.errors%}
                        <l1>{{ error }}</l1>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="submit" value="add" />
        </form>
    </div>
</body>
</html>