ul.posting {
    padding: 0em;
    margin: 0em 0em 1em 0em;
}

ul.posting li {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

ul.tag_list {
    padding: 0em;
    margin: 0em;
}

ul.tag_list li{
    padding: 0em;
    margin: 0em 1em 0em 0em;
    list-style-type: none;
    display: inline;
}
